@page "/newtoolpage"

@using System

@using ToolManager.Shared

<h2>New tool page here</h2>

<EditForm Model="model" OnValidSubmit="Create">
    <DataAnnotationsValidator/>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <p>
                    <MatTextField Label="Name" @bind-Value="model.Name"/>
                    <ValidationMessage For="@(() => model.Name)"/>
                </p>
                <p>
                    <MatTextField Label="Description" @bind-Value="model.Description"/>
                    <ValidationMessage For="@(() => model.Description)"/>
                </p>
        </div>
    </div>

</EditForm>

@code {

    NewToolInfo model = new NewToolInfo();

    private async Task Create()
    {
        await Task.Delay(0);
    }
}